.btn:hover{
    color: blueviolet;
}

input:focus{
    background-color: yellow;
}

input:required{
    background-color: red;
}

p::first-line{
    font-size: 120%;
    font-weight: bold;
}

input[type="checkbox"]:checked{
    outline: 3px solid red;
}

.container{
    width: 330px;
    margin: 30px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 20px;
}

.square{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: aliceblue;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.top{
    border-top: none;
}

.bottom{
    border-bottom: none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

form{
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.form-section{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 40px auto;
}

.form-section h2{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

#formular table{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#formular input, #formular select, #formular textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

#formular input:focus,
#formular select:focus,
#formular textarea:focus {
  border-color: lightblue;
  outline: none;
}

#submit{
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

#submit:hover{
    opacity: 0.8;
}

#meniu{
    background-color: white;
    width: 50%;
    margin-bottom: 20px;
    gap: 10px;
}

#meniu ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#meniu li{
    flex: 1;
}

#meniu a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20 px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: black;
}

#meniu a:hover{
    background-color: grey;
    transition: background-color 0.3 ease;
}